{
  "presets": [
    "react", "es2015", "stage-0"
  ],
  "env": {
    "server": {
      "plugins": [
        [
          "css-modules-transform",
          {
            "extensions": [".css", ".scss", ".less"], // list extensions to process; defaults to .css
            "generateScopedName": "[hash:8]" // in case you don't want to use a function
          }
        ]
      ]
    }
  }
}

